<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Microscope Calculator</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <nav class="navbar">

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/history">History</a>
        </div>

    </nav>

    <main class="main-container">

        {% block content %}
        {% endblock %}

    </main>

</body>

</html>